body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*------------ header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}
.header-logo-part {
  color: #2e2f42;
}

.header-list {
  display: none;
}
.address {
  display: none;
}

.btn-mob-menu {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mob-menu:hover,
.btn-mob-menu:focus {
  fill: #404bbf;
}
/* --------------------------mob menu--------------- */
.mob-menu-wrap {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding-top: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-close-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mob-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover > .mob-close-icon,
.mob-close-btn:focus > .mob-close-icon {
  fill: #fff;
}

.mob-list {
  margin-left: 16px;
}
.mob-menu-item:not(:last-child) {
  padding-bottom: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-link:hover,
.mob-link:focus {
  color: #404bbf;
}

.mob-address {
  display: block;
  margin-left: 16px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-address-link {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-linkr:hover,
.mob-address-link:focus {
  color: #4d5ae5;
}

.mob-icon-list {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.mob-icon-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.mob-soce-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soce-link:hover,
.mob-soce-link:focus {
  background-color: #31d0aa;
}
.mob-soce-icone {
  fill: #f4f4fd;
}
/* Mobile First head */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .btn-mob-menu {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .btn-mob-menu {
    display: none;
  }
  .mob-menu-wrap {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*-------------------------- main section one ------------------*/

.solution {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.solution-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.solution-btn {
  display: block;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-btn:hover,
.solution-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}
/* Mobile First 1 */

@media screen and (min-width: 768px) {
  .solution {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  .solution-title {
    font-size: 56px;
    line-height: 1.07;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .solution {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .solution {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}

/* --------------------------------------section two ---------------- */
.feature {
    padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-container {
  background-color: #fff;
}
.list-feature-container {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  max-width: 100%;
 }

.feature-icon-box {
    display: none;
}

.feature-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 72px;
}
/* Mobile First 2 */

@media screen and (min-width: 768px) {
  .list-feature-container {
    align-content: flex-start;
    gap: 24px;
  }
  .list-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .list-feature-container {
    flex-wrap: nowrap;
  }
  .feature {
    padding: 120px 0;
  }

  .list-item {
    width: calc((100%-24px * 3) / 4);
  }
  .feature-icon {
    fill: none;
  }

  .feature-icon-box {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .feature-text {
    font-weight: unset;
  }
}

/* -----------section three team---------------- */
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.container-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-div {
  text-align: center;
  padding: 32px 0 32px;
  border-radius: 0px 0px 4px 4px;
}
.team-title-foto {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.teame-soce-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.teame-soce-list {
  width: 40px;
  height: 40px;
}
.teame-soce-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teame-soce-link:hover,
.teame-soce-link:focus {
  background-color: #404bbf;
}

.teame-soce-icone {
  fill: #f4f4fd;
}

.team-list {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
    width: 100%;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-images {
  margin: 0 auto;
}

/* Mobile First 3 */

@media screen and (min-width: 768px) {
  .team-container > .container-team-list {
    max-width: 552px;
    margin: 0 auto;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-container > .container-team-list {
    max-width: 1158px;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* --------section four---------------- */
.portfolio {
  padding: 96px 0;
  background-color: #fff;
}
.portfolio-img {
  margin: 0 auto;
}

.portfolio-container-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
   gap: 24px;
}

.portfolio-item {
    width: 100%;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .potfol-add-text {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-content-wrap {
  position: relative;
  overflow: hidden;
}

.potfol-add-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-app {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Mobile First 4 */

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    margin: 0;
  }
  .portfolio-container-list {
    gap: 48px 24px;
  }
}
/*-------------------- footer--------------- */
.footer {
  padding: 100px 0;
  background: #2e2f42;
}

.container-footer {
  display: flex;
  flex-direction: column;
    align-items: center;
  gap: 72px;
}
.foter-part-one {
   display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-link-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    margin: 0 auto;
  display: inline-flex;
  align-items: center;
}

.footer-logo-part {
  color: #f4f4fd;
  display: inline-flex;
}

.fotter-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 17.5px;
}

.footer-text-soc {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.foot-social-list {
  display: flex;
  gap: 16px;
}

.foot-social-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.foot-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-link:hover,
.foot-social-link:focus {
  background-color: #31d0aa;
}
.foot-soce-icone {
  fill: #f4f4fd;
}
/* !!!!!!!!!!!!!!5 HW */

.subsc-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.subsc-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.subst-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.subst-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subsc-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 24px;
  border: none;
}
.icon-send-footer {
  margin-left: 16px;
}

/* Mobile First footer */

@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
  .container-footer {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 24px;
  }
  .foter-part-one {
    display: inline-block;
  }
  .footer-link-logo {
    display: block;
    margin-left: 0;
    margin-top: 0;
  }
  .container-foot-social {
    display: inline-block;
    transform: translateY(-20px);
  }
  .footer-text-soc {
    text-align: start;
  }
  .subs-form-wrap {
    display: block;
  }
  .subsc-text {
    text-align: start;
  }
  .subsc-form {
    flex-direction: row;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    gap: 120px 80px;
  }
  .subs-form-wrap {
    transform: translateY(-20px);
  }
}

/* -------------------------modal----------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-cllose-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-cllose-icon,
.modal-close-btn:focus > .modal-cllose-icon {
  fill: #fff;
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.modal-field {
  margin-bottom: 8px;
}
.input-modal-wrap {
  position: relative;
}

.input-form-modal {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form-modal:hover,
.input-form-modal:focus {
  border-color: #4d5ae5;
}

.modal-lable {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-modal:hover + .form-icon,
.input-form-modal:focus + .form-icon {
  fill: #4d5ae5;
}

.modal-field-text {
  margin-bottom: 16px;
}
.model-coment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-coment-text:hover,
.model-coment-text:focus {
  border-color: #4d5ae5;
}
.modal-field-chec {
  margin-bottom: 24px;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.link-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}
.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.model-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-send-btn:hover,
.model-send-btn:focus {
  background-color: #404bbf;
}
/* Mobile First modal */

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
